@use 'base';
@use 'function';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: function.toRem(1) $border $color-red;
    padding: function.toRem(10);
    gap: function.toRem(10);

    h1 {
        color: $color-green;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline $color-blue;
        text-underline-offset: function.toRem(8);
    }

    section {
        display: flex;
        flex-direction: row;
    }
}

@mixin article-card($color, $border, $font-size) {
    color: $color;
    border: $border;
    font-size: $font-size
}


article {
    @include article-card($color-green, function.toRem(1), $border $color-green, function.toRem(1))
}

article:nth-of-type(odd) {
    @include article-card($color-blue, $border $color-green, function.toRem(1))
}

section:last-of-type article {
    @include article-card($color-green, $border $color-blue, function.toRem(24))
}

div section article p {
    padding: function.toRem(10);
    justify-content: center;
    text-align: center;
}